parameters:
    env(DATABASE_URL): 'sqlite:///%kernel.project_dir%/var/app.db'

doctrine:
    dbal:
        # configure these for your database server
        driver: 'pdo_mysql'
        server_version: '5.7'
        charset: utf8mb4
        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_unicode_ci

        url: '%env(resolve:DATABASE_URL)%'
    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        mappings:
            PiedWeb\CMSBundle:
                is_bundle: true
                type: annotation
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'PiedWeb\CMSBundle\Entity'
                alias: PiedWeb\CMSBundle
            FOSUserBundle: ~
