<footer id="footer" style="margin-top:80px">
    {% block footer %}
        {% include '@PiedWebCMS/page/_alternate_links.html.twig' %}
    {% endblock %}

    {% block extra_footer %}
        <p>Design <a href="https://piedweb.com">Pied Web</a>.</p>
    {% endblock %}
</footer>
