{% if page.images is defined and page.images is not empty %}
    <section id="gallery">
        <div class=container>
            <div class="row mimg">
                {% for image in page.images %}
                    {% include '@PiedWebCMS/page/_breadcrumb_part.html.twig' with {'image': image} only %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
