{#
    @param  \PiedWeb\CMSBundle\Entity\MediaInterface image
#}

{% set img = image.relativeDir ~ '/' ~ image.media %}
<div class="col-md-4 col-xs-6">
    <a href="{{ img|imagine_filter('default') }}">
       <span data-img="{{ img|imagine_filter('height_300') }}">{{ image.name }}</span>
    </a>
</div>
