{#
    @param  \PiedWeb\CMSBundle\Entity\MediaInterface image
    //col-12 col-md-6 col-lg-4 pb-4
#}

{% set img = image.relativeDir ~ '/' ~ image.media %}
    <a href="{{ img|imagine_filter('default') }}">
       <img src="{{ img|imagine_filter('height_300') }}" loading="lazy" alt="{{ image.name }}" class="img-fluid m-2">
    </a>
