{#
    @param  \PiedWeb\CMSBundle\Entity\MediaInterface image
#}

{% set img = image.relativeDir ~ '/' ~ image.media %}
<div class="col-12 col-md-6 col-lg-4 pb-4">
    <a href="{{ img|imagine_filter('default') }}">
       <span data-img="{{ img|imagine_filter('height_300') }}" loading="lazy">{{ image.name }}</span>
    </a>
</div>
