{% if pages is not empty %}
        <ul>
            {% for page in pages %}
                <li>
                    <a href="{{ page(page.realSlug) }}">
                        {% if page.h1 is defined and page.h1 is not null %}
                            {{ page.h1 }}
                        {% else %}
                            {{ page.title }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
{% endif %}
