{% if pages is not empty %}
    <ul>
        {% for page in pages %}
            {% if (page.createdAt) <= date('now') %}
                <li>
                    <a href="{{ page(page.realSlug) }}">
                        {{ (page.h1 is defined and page.h1 is not null ? page.h1 : page.title)|raw }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
