

{% set image = page.mainImage is defined and page.mainImage is not null ? (page.mainImage.relativeDir ~ '/' ~ page.mainImage.media) : null %}

{% block content %}

    <div class="{{ page.container|default(container ?? 'next-navbar container container-txt pt-4 mb-5') }}" id="content">

        {% block fash_message %}{% endblock %}

        {% block content_title %}
            {% if page.subtitle is not null %}
                <span class="subtitle">{{ page.subtitle }}</span>
            {% endif %}

            <h1>{{ page.h1|default(page.title)|raw|punctuation_beautifer }}</h1>

            {% block description %}
                {% if page.chapeau is not null %}
                    {% include(template_from_string(page.chapeau)) %}
                {% endif %}
            {% endblock %}

            {% block main_image %}
                {% if page.mainImage is not null %}
                    {%
                        include '@PiedWebCMS/component/_inline_image.html.twig' with {
                            'image_src': page.mainImage.fullPath|imagine_filter('default'),
                            'image_alt': page.mainImage.name(page.locale, true)|default(page.title),
                        }
                    %}
                {% endif %}
            {% endblock %}
        {% endblock %}

        {% block main_content %}
            {% apply punctuation_beautifer %}
                {{ include(template_from_string(page.readableContent)) }}
            {% endapply %}
        {% endblock %}

        {% block breadcrumb %}
            {% include '@PiedWebCMS/page/_breadcrumb.html.twig' %}
        {% endblock %}

    </div>
{% endblock %}
