{% block content %}
    {% if page.mainContent is not empty %}
        {% set ok = true %}
    {% endif %}

    {% if ok is defined and ok %}
        <section class="section-gap" id="content">
            <div class="container">

                {{ content|raw }}

                {% block after_content %}{% endblock %}
            </div>
        </section>
    {% endif %}
{% endblock %}
