<header id="navbar">
    <nav class="fixed-top navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home') }}">{{ logo_alt }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="text-white fa fa-list"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">A Voir</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">A Voir</a></li
                </ul>
            </div>
        </div>
    </nav>
</header>
