{% block header %}
    {% include '@PiedWebCMS/page/_header.html.twig' %}
{% endblock %}

{% block content %}
    {% include '@PiedWebCMS/page/_main_content.html.twig' %}
{% endblock %}

{% block gallery %}
    {% include '@PiedWebCMS/page/_gallery.html.twig' %}
{% endblock %}

{% block relatedContent %}
    {% if page.relatedPages is defined and page.relatedPages is not empty %}
        {% set pages = page.relatedPages %}
        <section class="section-light section-gap" id="project">
            <div class="container">
                <div class="mb-2">
                    <h4 class="mb-10">{{ 'relatedPages.title'|trans }}</h4>
                </div>
                <div class="row">
                {% include '@PiedWebCMS/page/_list.html.twig' with {pages: pages} only %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% include '@PiedWebCMS/page/_breadcrumb.html.twig' %}
{% endblock %}

{% block footer %}
    {% include '@PiedWebCMS/page/_footer.html.twig' %}
{% endblock %}

