
{% block header %}
    {% include '@PiedWebCMS/page/_header.html.twig' %}
{% endblock %}

{% block content %}
    {% include '@PiedWebCMS/page/_main_content.html.twig' %}
{% endblock %}

{% block gallery %}
    {% include '@PiedWebCMS/page/_gallery.html.twig' %}
{% endblock %}


{% block reservation %}
    {% include '@PiedWebCMS/page/_reservation.html.twig' %}
{% endblock %}


{% block faq %}
    {% include '@PiedWebCMS/page/_faq.html.twig' %}
{% endblock %}


{% block relatedContent %}
    {% if page.relatedPages is defined and page.relatedPages is not empty %}
        {% set pages = page.relatedPages %}
        <section class="section-light section-gap" id="project">
            <div class="container">
                <div class="text-center mb-5">
                    <h2 class="mb-10">{{ 'relatedPages.title'|trans }}</h2>
                    <p>{{ 'relatedPages.description'|trans }}</p>
                </div>
                <div class="row">
                {% include '@PiedWebCMS/page/_pages_list.html.twig' %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}


{% block footer %}
    {# Load Footer via fetch (ajax) #}
    <div data-sky="{{ path('piedweb_cms_footer') }}"></div>
{% endblock %}

