{% extends '@PiedWebCMSBundle/page/base.html.twig' %}

{% block title %}{{ 'user.default.title'|trans }}{% endblock %}

{% block body %}
    <section>
        <header class="tunnel-header">
                <div class="container">
                    <span class="navbar-brand"></span>
                </div>
        </header>
    </section>

    {% block content %}
        <section class="section-gap">
            <div class="container text-center">
                <h1 class="mb-40">{{ block('title') }}</h1>
                <div class="text-left" style="max-width:250px; margin:auto;">
                    {% block fos_user_content %}{% endblock %}
                </div>
            </div>
        </section>
    {% endblock %}

    <div class="footer-block d-none"></div>
{% endblock %}
