
/**
 *
$primary	      : #2779BD;
$light-primary    : #3490DC;
$dark-primary     : #1C3D5A;
$secondary        : #F2D024;
$footer-background-color: #2779BD;
*/

@import "~/piedweb-tyrol-free-bootstrap-4-theme/src/scss/main.scss"
