{# item: { path, anchor #}
<section class="section-gap d-none d-sm-block">
    <div class="container">
         <div class="text-center">
            <span class="h2">{{ 'search.label'|raw }}</span>
            <div class="inline h2 dropdwon-click">
                <input id="drp01" type="checkbox" name="drp01">
                <label for="drp01" class="dropdown-label">. . .</label>
                <ul class="dropdwon-menu">
                    {% for item in items %}
                      <li><a href="{{ item.path }}">{{ item.anchor }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</section>
