<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>
        {% block head %}
            <meta charset="UTF-8">

            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <link rel="shortcut icon" href="/favicon.ico">

            {% if app_color is defined and app_color is not null %}
                <meta name="theme-color" content="{{ app_color }}"/>
            {% endif %}

            <title>{% block title %}Pied Web{% endblock %}</title>


            {% block css %}
                <link rel="stylesheet" href="{{ asset('assets/app.css') }}">
            {% endblock %}

            {% block robots %}{% endblock %}

        {% endblock %}
    </head>
    <body>

        {% block body %}{% endblock %}

        {% block script %}
            <script src="{{ asset('assets/app.js') }}"></script>
        {% endblock %}

    </body>
</html>
