<!DOCTYPE html>
<html lang="A VOIR">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="theme-color" content="#1fa67a"/>
        <meta charset="UTF-8">

        <title>{% block title %}Pied Web{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/app.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('assets/app.js') }}"></script>
    </body>
</html>
