/**
 * For a more opinionated noramlization :
 *
@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_reboot.scss";
/**/

@import '~140.css/src/140.css';
@import '~glightbox/src/postcss/glightbox.css';

:root {
  --link: #d97706;
  --link-hover: #f59e0b;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-3 {
  gap: 0.75rem;
}

.m-3 {
  margin: 0.75rem;
}

.list-none {
  list-style-type: none;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.h-0 {
  height: 0;
}
.fluid-video {
  padding-bottom: 56.25%; /* 16:9 */
}
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
