{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block fos_user_content %}

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

        <div class="form-group">
            <label for="username">Email</label>
            <input type="email" id="username" name="username" required="required" class="form-control" />
        </div>

        <div class="text-center">
          <button type="submit" class="genric-btn primary circle">Réinitialiser le mot de passe</button>
        </div>

    </form>

{% endblock fos_user_content %}
