{% if page.images is defined and page.images is not empty %}
    <div class="row mimg justify-content-center">
        {% for image in page.images %}
            {% if loop.index <= 3 or gallery_not_lazy is defined %}
                {% include '@PiedWebCMS/page/_gallery_part.html.twig' with {'image': image, 'page': page} only %}
            {% else %}
                {% include '@PiedWebCMS/page/_gallery_part_lazy.html.twig' with {'image': image, 'page': page} only %}
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    {% set gallery_exist = false %}
{% endif %}
